footer{
   
    background-color: blanchedalmond;
    text-align: center;
    
}
.redes{
    text-align: center;
    font-size: 14px;
}
.footer2{
    position: relative;
    margin-top: 20%;
}
.footer3{
    position: relative;
    margin-top: 20%;
}